.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

#traceroute_dst_type_dropdown_div {
    width: 20%;
}

#traceroute_dst_input {
    width: 80%;
}

.toast {
    max-width: 350px;
    overflow: hidden;
    font-size: .875rem;
    background-color: rgba(255, 255, 255, .85);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 10%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0;
    border-radius: 0.25rem;
}

.toast-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.25rem 0.75rem;
    color: #6c757d;
    background-color: rgba(255, 255, 255, .85);
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.toast-body {
    padding: 0.75rem;
}

.toast.show {
    display: block;
    opacity: 1;
}

.toast:not(:last-child) {
    margin-bottom: 0.75rem;
}

details>summary {
    padding: 2px 6px;
    width: 15em;
    background-color: #ffffff;
    border: 1px solid;
    cursor: pointer;
    font-size: 10px;
    margin-left: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.modal-backdrop.fade {
    opacity: 0.5;
}

.modal .fade {
    opacity: 1 !important;
}

.mt-20 {
    margin-top: 20px;
}

.row-0,
.row-1 {
    overflow: scroll;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.dash-spreadsheet-menu {
    padding: 10px 10px;
}

.dash-spreadsheet-menu>div {
    width: 100%;
}

.dash-spreadsheet-menu>div>button {
    float: right;
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner td,
.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner th,
.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner input:not([type=radio]):not([type=checkbox]) {
    text-align: left !important;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}